<!DOCTYPE html>
<html>
	<head>
		<%- include('../partials/head.ejs') %>
	</head>
	<body>
		<header>
			<%- include('../partials/header.ejs') %>
		</header>
		<section class="users-section">
			<h2>Les apprenants de la promo 7 de Simplon Montreuil :</h2>
			<ul class="users-list">
				<% users.map(function(user) { %>
					<li><a href= <%= `/user/${user.id}` %>><%= user.firstName %></a></li>
				<% }).join('') %>
			</ul>
		</section>
		<footer>
			<%- include('../partials/footer.ejs') %>
		</footer>
	</body>
</html>
